<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
</head>
<body>
    <h1>Update Product</h1>
    <form action="/admin/update/<%= product.id %>" method="POST">
        <input type="hidden" name="id" value="<%= product.id %>">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= product.name %>"><br>
        
        <label for="category">Category:</label>
        <select id="category" name="category">
            <% categories.forEach(category => { %>
                <option value="<%= category.category %>" <%= category.category === product.category ? 'selected' : '' %>><%= category.category %></option>
            <% }) %>
        </select><br>
        
        <label for="details">Details:</label>
        <textarea id="details" name="details"><%= product.details %></textarea><br>
        
        <label for="size">Size:</label>
        <input type="text" id="size" name="size" value="<%= product.size %>"><br>
        
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" value="<%= product.price %>"><br>
        
        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image" value="<%= product.image %>"><br>
        
        <button type="submit">Update</button>
    </form>
</body>
</html>
