<main class="container mt-5">
    <h1 class="text-center">Receipt</h1>
    <h4>Order ID: <%= order.id %></h4>
    <h4>Name: <%= order.name %></h4>
    <h4>Email: <%= order.email %></h4>
    <h4>Address: <%= order.address %></h4>
    <h4>Payment Method: <%= order.method %></h4>
    <h4>Total Products: <%= order.total_products %></h4>
    <h4>Total Price: <%= order.total_price %> PHP</h4>
    <h4>Payment Status: <%= order.payment_status %></h4>
    <h4>Placed On: <%= order.placed_on %></h4>
</main>
